.App {
  text-align: center;
  /* background-color: antiquewhite; */
  background-image: url();
  
}
h1{
  margin: 0;
}
button{
  width: 25vw; 
  background-color: rgba(0, 255, 255, 0.087);
  border: 2px solid white;
  border-radius: 8%;
  height: 6vh;

}